[submodule "src/Curve-Fitting"]
	path = src/Curve-Fitting
	url = https://github.com/NCTUyoung/Curve-Fitting.git
[submodule "src/Light-Condition-Style-Transfer"]
	path = src/Light-Condition-Style-Transfer
	url = https://github.com/NCTUyoung/Light-Condition-Style-Transfer.git
